Airline.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/airline/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="airline"
	targetNamespace="http://www.example.org/airline/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/airline/">
			<xsd:element name="FlightRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="date" type="xsd:string" />
						<xsd:element name="departure" type="xsd:string" />
						<xsd:element name="destination" type="xsd:string" />
						<xsd:element name="numberOfPersons" type="xsd:integer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FlightNumberList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="flightNumber" type="xsd:string"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BookingRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="flightNumber" type="xsd:string" />
						<xsd:element name="date" type="xsd:string" />
						<xsd:element name="numberOfPersons" type="xsd:integer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BookingResponse" type="xsd:string" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AvailabilityRequest">
		<wsdl:part name="flightRequestMessage" element="tns:FlightRequest" />
	</wsdl:message>
	<wsdl:message name="AvailabilityResponse">
		<wsdl:part name="flightNumbersMessage" element="tns:FlightNumberList" />
	</wsdl:message>
	<wsdl:message name="BookingRequest">
		<wsdl:part name="bookingRequestMessage" element="tns:BookingRequest" />
	</wsdl:message>
	<wsdl:message name="BookingResponse">
		<wsdl:part name="response" element="tns:BookingResponse" />
	</wsdl:message>

	<wsdl:portType name="airline">
		<wsdl:operation name="checkAvailability">
			<wsdl:input message="tns:AvailabilityRequest" />
			<wsdl:output message="tns:AvailabilityResponse" />
		</wsdl:operation>
		<wsdl:operation name="bookFlight">
			<wsdl:input message="tns:BookingRequest" />
			<wsdl:output message="tns:BookingResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="airlineSOAP" type="tns:airline">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="checkAvailability">
			<soap:operation soapAction="http://www.example.org/airline/checkAvailability" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bookFlight">
			<soap:operation soapAction="http://www.example.org/airline/bookFlight" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="airline">
		<wsdl:port binding="tns:airlineSOAP" name="airlineSOAP">
			<soap:address location="http://localhost:8080/SOA_-_Assignment_1/services/airline" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
